header{
  background-color: #ffffff;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 3px 3px #00000011;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 160px 15px;
  font-weight: 700;
}

.logo {
  right: 10px;
  width: 5.5rem;
  display: flex;
  justify-content: flex-start;
}

ul {
  color: #000000;
  list-style-type: none;
  position: relative;
  display: flex;
  font-size: 1rem;
  padding-right: 40rem;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;

}
ul a {
  text-decoration: none;
  letter-spacing: .1em;
  color: #000000;
  position: relative;
}

ul a:hover {
  color: #006241;
}

ul a::before, 
ul a::after {
  content: '';
  border-bottom: 5px solid #006241 ;
  position: absolute;
  bottom: -2rem;
  left: 0rem;
  width: 100%;
  box-shadow: 0 3px 3px #00000011;
  opacity: 0;
}

ul a:hover::after{
  opacity: 1;

}
.search-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
}


