.navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  padding: 15px 160px;
  font-weight: 700;
  box-shadow: 0 3px 3px #00000011;
}
.logo {
  right: 10px;
  width: 5.5rem;
  display: flex;
  justify-content: flex-start;
}
ul {
  color: #000000;
  list-style-type: none;
  position: relative;
  right: 25rem;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;

}
ul li a {
  text-decoration: none;
  letter-spacing: .1em;
  color: #000000;
  position: relative;
}

ul li a:hover {
  color: #006241;
}

ul li a::before, 
ul li a::after {
  content: '';
  border-bottom: 5px solid #006241 ;
  position: absolute;
  bottom: -2rem;
  left: 0rem;
  width: 100%;
  box-shadow: 0 3px 3px #00000011;
  opacity: 0;
}

ul li a:hover::after{
  opacity: 1;

}
.search-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.search-cart a {
  text-decoration: none;
  color: #000000;
}

